---
layout: page
title: All Posts
description: "An archive of all posts"
permalink: /all/
---
<h1>All Posts</h1>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}
      </ul>
    {% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>

    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }} - {{ post.date | date: "%b %-d" }}</a></li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
