---
layout: default
---

<div class="home">

    {% for post in site.posts limit:10 %}
      <div class="post">
        {% if post.image %}
        <div class="featured-media">
          <a href="{{ page.url }}" title="{{ page.title }}">
            <img src="{{ site.baseurl }}/assets/images/{{ post.image }}">
          </a>
        </div>
        {% endif %}

        <div class="post-inner">
          <h2 class="post-title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <div class="post-content">
            {{ post.content | split:'<!--break-->' | first }}

            {% if post.content contains '<!--break-->' %}
              <div class="archive-nav">
                <a href="{{ post.url }}" class="post-nav-older">« Read More</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}




</div>
