<div class="article col col-8 push-2 col-d-12 push-d-0">
  <div class="article__inner">
    <div class="article__content">
      <h2 class="article__title">
        {% if post.layout == "post" %}
        <a href="{{ post.url | prepend: site.baseurl }}"
          >{{ post.title }} <i class="fa-solid fa-arrow-right"></i
        ></a>
        {% elsif post.layout == "link_post" %}
        <a href="{{ post.link_url}}"
          >🔗 {{ post.title }} <i class="fa-solid fa-arrow-right"></i
        ></a>
        {% endif %}
      </h2>

      <div class="article__meta">
        <time
          class="article__date"
          datetime="{{ post.date | date_to_xmlschema }}"
          >{{ post.date | date_to_long_string }}</time
        >
        {% if post.layout == "post" %} –
        <span class="article__minutes"
          >{% assign words = post.content | number_of_words %} {% if words < 360
          %} 1 min read {% else %} {{ words | divided_by:180 }} min read {%
          endif %}
        </span>
        {% endif %}
      </div>

      <p class="article__excerpt">
        {% if post.layout == "post" %} {{ post.description }} {% elsif
        post.layout == "link_post" %} {{ post.content }} {% endif %}
      </p>

      {% if post.layout == "link_post" %}
      <div class="article__meta">
        <a href="{{ post.link_url }}">Original Link</a>
      </div>
      {% endif %}

      <div class="article__bottom">
        {% if post.tags.size >= 1 %}
        <div class="article-tags__box">
          {% for tag in post.tags %}
          <a
            href="{{ site.baseurl }}/tags/index.html#{{ tag }}"
            class="article__tag"
            >{{ tag }}</a
          >
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
