<div class="post">
  {% if page.image %}
  <div class="featured-media">
    <a href="{{ page.url }}" title="{{ page.title }}">
      <img src="{{ site.baseurl }}/assets/images/{{ page.image }}" alt="{{ page.title }}">
    </a>
  </div>
  {% endif %}

  <div>
    <h2>
      <a href="{{ page.url | prepend: site.baseurl }}" class="post-title">{{ page.title }}</a>
    </h2>

    <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>

    <div class="post-content">
      {% if include.isIndex %}
        {{ page.content | split:'<!--break-->' | first }}

        {% if page.content contains '<!--break-->' %}
          <a href="{{ page.url }}" class="read_more_button">« Read More</a>
          {% endif %}
      {% else %}
        {{ page.content }}
      {% endif %}
    </div>
  </div>
</div>
