---
layout: default
---
<div class="post">
  {% if page.image %}
    <div class="featured-media">
      <a href="{{ page.url }}" title="{{ page.title }}">
        <img src="{{ site.baseurl }}/assets/images/{{ page.image }}" alt="{{ page.title }}">
      </a>
    </div>
  {% endif %}

  <div class="post-info">
    <h1 class="post-title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>

    <div class="post-meta">
      <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>
    </div>
  </div>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="clear"></div>

</div>
